.card {
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 26vw;
  min-width: 300px;
  text-align: center;
  background: linear-gradient(to right, var(--color-blue), var(--color-red));
}

.card-content h3 {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--color-blue),
    var(--color-red)
  ); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  height: 120px;
}

.card-header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  text-align: start;
  color: white;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-footer {
  color: var(--color-dark-gray);
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 24px;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  width: 500px;
  word-wrap: break-word;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
